<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">Reseñas por usuario y fecha</title>
        <meta charset="UTF-8"/> 
        <link rel="stylesheet" th:href="@{/css/BusinessStyles.css}"/>
    </head>
    <body>
        <header>
            <h1>Reseñas por Usuario y Fecha</h1>
        </header>

        <nav>
            <ul>
                <li>
                    <a th:href="@{/business/home}">Gestión de negocios</a>
                </li>
                <li>
                    <a th:href="@{/checkin/home}">Gestión de facturas</a>
                </li>
                <li>
                    <a th:href="@{/review/home}">Gestión de reseñas</a>
                </li>
                <li>
                    <a th:href="@{/user/home}">Gestión de usuarios</a>
                </li>
                <li>
                    <a th:href="@{/tip/home}">Gestión de propinas</a>
                </li>
            </ul>
        </nav>

        <main>
            <div th:if="${successMessage}" th:class="'message success'">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" th:class="'message error'">
                <p th:text="${errorMessage}"></p>
            </div>

            <table border="1">
                <thead>
                    <tr>
                        <th>Review ID</th>
                        <th>User ID</th>
                        <th>Business ID</th>
                        <th>Nombre del negocio</th>
                        <th>Texto</th>
                        <th>Entrellas</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="review : ${reviews}">
                        <td th:text="${review.reviewId}"></td>
                        <td th:text="${review.userId}"></td>
                        <td th:text="${review.businessId}"></td>
                        <td th:text="${review.businessName}"></td>
                        <td th:text="${review.reviewText}"></td>
                        <td th:text="${review.stars}"></td>
                        <td th:text="${review.date}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
