<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">Crear Tip</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <header>
            <h1>Crear Nuevo Tip</h1>
        </header>

        <!-- Mostrar el mensaje de éxito o error si está presente -->
        <div th:if="${successMessage}">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>

        <form action="/tip/create" method="post" th:object="${tip}">

            <div>
                <label for="userId">ID del usuario:</label>
                <input type="text" id="userId" th:field="*{userId}" required/>
            </div>
            <div>
                <label for="businessId">ID del negocio:</label>
                <input type="text" id="businessId" th:field="*{businessId}" required/>
            </div>
            <div>
                <label for="text">Texto del Tip:</label>
                <textarea id="text" th:field="*{text}" rows="4" required></textarea>
            </div>
            <div>
                <label for="date">Fecha:</label>
                <input type="datetime-local" id="date" th:field="*{date}" required/>
            </div>
            <div>
                <label for="complimentCount">Cantidad de Halagos:</label>
                <input type="number" min="0" id="complimentCount" th:field="*{complimentCount}"/>
            </div>

            <div>
                <button type="submit">Crear Tip</button>
            </div>
        </form>
    </body>
</html>
