<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">Buscar tip por palabra clave</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/searchBusinessStyles.css" th:href="@{/css/searchBusinessStyles.css}" />            
    </head>
    <body>

        <script th:src="@{/js/tip-actions.js}"></script>

        <header>
            <h1>Buscar por palabra clave</h1>
        </header>
        
        <nav>
            <ul>
                <li>
                    <a th:href="@{/business/home}">Gestión de negocios</a>
                </li>
                <li>
                    <a th:href="@{/checkin/home}">Gestión de facturas</a>
                </li>
                <li>
                    <a th:href="@{/review/home}">Gestión de reseñas</a>
                </li>
                <li>
                    <a th:href="@{/user/home}">Gestión de usuarios</a>
                </li>
                <li>
                    <a th:href="@{/tip/home}">Gestión de propinas</a>
                </li>
            </ul>
        </nav>

        <!-- Mostrar el mensaje de éxito o error si está presente -->
        <div th:if="${successMessage}" th:class="'message success'">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" th:class="'message error'">
            <p th:text="${errorMessage}"></p>
        </div>

        <main>
            <table border="1">
                <thead>
                    <tr>
                        <th>Tip ID</th>
                        <th>Texto</th>
                        <th>Fecha</th>
                        <th>Reacciones</th>
                        <th>Business ID</th>
                        <th>User ID</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tip : ${tips}">
                        <td th:text="${tip.id}"></td>
                        <td th:text="${tip.text}"></td>
                        <td th:text="${tip.date}"></td>
                        <td th:text="${tip.complimentCount}"></td>
                        <td th:text="${tip.businessId}"></td>
                        <td th:text="${tip.userId}"></td>
                        <td>
                            <input type="radio" name="selectedTip" th:value="${tip.id}" 
                                   th:attr="data-name=${tip.id}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="actions" style="margin-top: 20px;">
                <button disabled id="updateButton">Modificar</button>
                <button disabled id="deleteButton">Eliminar</button>
            </div>

            <!-- Paginación -->
            <div class="pagination">
                <span th:text="'Página ' + ${currentPage + 1} + ' de ' + ${totalPages}"></span>
                <a th:href="@{/tip/search(size=${10}, page=${currentPage - 1})}" 
                   th:if="${currentPage > 0}">Anterior</a>
                <a th:href="@{/tip/search(size=${10}, page=${currentPage + 1})}" 
                   th:if="${currentPage < totalPages - 1}">Siguiente</a>
            </div>
        </main>
        
        <footer>
            <p>&copy; 2024 AGI</p>
        </footer>       
    </body>
</html>
