<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Nuevo Usuario</title>
    </head>
    <body>
        <header>
            <h1>Crear Nuevo Usuario</h1>
        </header>

        <main>

            <!-- Mostrar el mensaje de éxito o error si está presente -->
            <div th:if="${successMessage}" class="alert alert-success">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>

            <form action="/user/create" method="post" th:object="${user}">

                <div>
                    <label for="userId">ID del usuario:</label>
                    <input type="text" id="userId" th:field="*{userId}" required/>
                </div>
                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" th:field="*{name}" required/>
                </div>
                <div>
                    <label for="yelpingSince">Fecha de Registro:</label>
                    <input type="datetime-local" id="yelpingSince" th:field="*{yelpingSince}" th:value="*{yelpingSince}" required />
                </div>  
                <div>
                    <label for="reviewCount">Recuento de Reseñas:</label>
                    <input type="text" id="reviewCount" th:field="*{reviewCount}" required/>
                </div>                                        
                <div>
                    <label for="useful">Útil:</label>
                    <input type="number" min="0" id="useful" th:field="*{useful}" required/>
                </div>
                <div>
                    <label for="funny">Divertido:</label>
                    <input type="number" min="0" id="funny" th:field="*{funny}" required/>
                </div>
                <div>
                    <label for="cool">Genial:</label>
                    <input type="number" min="0" id="cool" th:field="*{cool}" required/>
                </div>                 
                <div>
                    <label for="fans">Fans:</label>
                    <input type="number" id="fans" th:field="*{fans}" required/>
                </div> 
                <div>
                    <label for="averageStars">Estrellas Promedio:</label>
                    <input type="number" step="0.1" min="0" max="5" id="averageStars" th:field="*{averageStars}" required/>
                </div> 

                <div>
                    <button type="submit">Crear Usuario</button>
                </div>
            </form>
        </main>

        <footer>
            <p>&copy; 2024 AGI</p>
        </footer>
    </body>
</html>
