<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">Gestión de Usuarios</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/BusinessStyles.css}"/>
        <link rel="stylesheet" th:href="@{/css/main-styles.css}"/> 
    </head>
    <body>
        <header>
            <h1 th:text="${title}">Gestión de Usuarios</h1>
        </header>

        <script src="/js/user-actions.js"></script>

        <nav>
            <ul>
                <li>
                    <a th:href="@{/business/home}">Gestión de negocios</a>
                </li>
                <li>
                    <a th:href="@{/checkin/home}">Gestión de facturas</a>
                </li>
                <li>
                    <a th:href="@{/review/home}">Gestión de reseñas</a>
                </li>
                <li>
                    <a th:href="@{/user/home}">Gestión de usuarios</a>
                </li>
                <li>
                    <a th:href="@{/tip/home}">Gestión de propinas</a>
                </li>
            </ul>
        </nav>

        <main>

            <!-- Mostrar el mensaje de éxito o error si está presente -->
            <div th:if="${successMessage}" th:class="'message success'">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" th:class="'message error'">
                <p th:text="${errorMessage}"></p>
            </div>

            <p th:text="${description}">Bienvenido a la sección de gestión de usuarios.</p>
            <p>Aquí podrás gestionar todos los aspectos relacionados con los usuarios.</p>

            <!-- Tabla de usuarios -->
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha de Registro</th>
                        <th>Recuento de Reseñas</th>
                        <th>Útil</th>
                        <th>Divertido</th>
                        <th>Genial</th>
                        <th>Estrellas Promedio</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.yelpingSince}"></td>
                        <td th:text="${user.reviewCount}"></td>
                        <td th:text="${user.useful}"></td>
                        <td th:text="${user.funny}"></td>
                        <td th:text="${user.cool}"></td>
                        <td th:text="${user.averageStars}"></td>
                        <td>
                            <input type="radio" name="selectedUser" th:value="${user.id}" 
                                   th:attr="data-name=${user.id}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Botón para crear un nuevo usuario -->
            <div id="actions" style="margin-top: 20px;">
                <button disabled id="updateButton">Modificar</button>
                <button disabled id="deleteButton">Eliminar</button>
                <a href="/user/create">Crear nuevo usuario</a>
            </div>

            <!-- Paginación -->
            <div class="pagination">
                <span th:text="'Página ' + (${currentPage + 1}) + ' de ' + ${totalPages}"></span>
                <a th:href="@{/user/home(size=${10}, page=${currentPage - 1})}" 
                   th:if="${currentPage > 0}">Anterior</a>
                <a th:href="@{/user/home(size=${10}, page=${currentPage + 1})}" 
                   th:if="${currentPage < totalPages - 1}">Siguiente</a>
            </div>

            <section>
                <!-- Formulario de búsqueda -->
                <form th:action="@{/user/search}" method="get">
                    <input type="text" name="user" placeholder="Buscar usuario por nombre..." 
                           th:value="${searchUser}" />
                    <button type="submit">Buscar</button>
                </form>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 AGI</p>
        </footer>
    </body>
</html>
