<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">Gestión de Facturas</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/BusinessStyles.css}"/>
        <link rel="stylesheet" th:href="@{/css/main-styles.css}"/> 
    </head>
    <body>
        <header>
            <h1 th:text="${title}">Gestión de Facturas</h1>
        </header>

        <script src="/js/checkin-actions.js"></script>

        <main>
            <p th:text="${description}">Bienvenido a la sección de gestión de facturas.</p>
            <p>Aquí podrás gestionar todos los aspectos relacionados con tus facturas.</p>

            <table border="1">
                <thead>
                    <tr>
                        <th>Business ID</th>
                        <th>Fecha</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="checkin : ${checkins}">
                        <td th:text="${checkin.businessId}"></td>
                        <td th:text="${checkin.date}"></td>
                        <td>
                            <input type="radio" name="selectedCheckin" th:value="${checkin.id}" 
                                   th:attr="data-name=${checkin.id}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="actions" style="margin-top: 20px;">
                <button disabled id="updateButton">Modificar</button>
                <button disabled id="deleteButton">Eliminar</button>
                <a href="/checkin/create">Crear nueva Factura</a>
            </div>

            <!-- Paginación -->
            <div class="pagination">
                <span th:text="'Página ' + ${currentPage + 1} + ' de ' + ${totalPages}"></span>
                <a th:href="@{/checkin/home(size=${10}, page=${currentPage - 1})}" 
                   th:if="${currentPage > 0}">Anterior</a>
                <a th:href="@{/checkin/home(size=${10}, page=${currentPage + 1})}" 
                   th:if="${currentPage < totalPages - 1}">Siguiente</a>
            </div>

            <form th:action="@{/checkin/search}" method="get">
                <label for="businessId">Indique el id de la factura:</label>
                <input type="text" name="checkin" placeholder="Buscar factura por ID..." 
                       th:value="${searchCheckin}" />
                <button type="submit">Buscar</button>
            </form>

            <!-- Mostrar el mensaje de éxito o error si está presente -->
            <div th:if="${successMessage}" th:class="'message success'">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" th:class="'message error'">
                <p th:text="${errorMessage}"></p>
            </div>
        </main>

        <footer>
            <p>&copy; 2024 AGI</p>
        </footer>
    </body>
</html>
